# List of untracked files to ignore

# MATLAB R2021b .gitignore

*.m~
*.asv
*.autosave

matlab.prf
*.matlab.preferences

*.p
*.mex*
*.mex
*.obj
*.o
*.a
*.lib

dependencies/
dependency/

.sim/
.slx/
.slxc/
resources/
slprj/
html/
@*/
+*/

*.mat
*.fig
*.mlapp
*.mltbx
*.mlappinstall
*.log
*.csv
*.xls
*.xlsx
# *.pdf
*.doc
*.docx

testResults/
coverage/
report/

.DS_Store
Thumbs.db
